<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yxh.mapper.UserProfileMapper">
    <select id="findById" parameterType="long" resultType="com.yxh.entity.UserProfile">
        SELECT * FROM user_profile WHERE id = #{id}
    </select>
    
    <select id="findByNickname" parameterType="string" resultType="com.yxh.entity.UserProfile">
        SELECT * FROM user_profile WHERE nickname = #{nickname}
    </select>
    
    <insert id="insert" parameterType="com.yxh.entity.UserProfile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_profile (nickname, avatar_url, created_at, updated_at)
        VALUES (#{nickname}, #{avatarUrl}, NOW(), NOW())
    </insert>
    
    <update id="update" parameterType="com.yxh.entity.UserProfile">
        UPDATE user_profile
        SET nickname = #{nickname},
            avatar_url = #{avatarUrl},
            updated_at = NOW()
        WHERE id = #{id}
    </update>
</mapper>